chatgpt chatbot.json
{
  "name": "chatgpt chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "87003fec-8f21-40c1-803c-a1a62c9fcc64",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        -64
      ],
      "id": "1b38b164-a4cb-4540-9137-1620efe38b93",
      "name": "Webhook",
      "webhookId": "87003fec-8f21-40c1-803c-a1a62c9fcc64"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        32,
        -64
      ],
      "id": "0f410868-ac3b-47de-ae5f-00b7c9fecf42",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -32,
        160
      ],
      "id": "4c184780-9069-4f2d-a3b5-6a060cb50892",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "uurWfr4gSzawzG4O",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        -64
      ],
      "id": "df2ad54d-1a9d-484c-b3a7-ec753aed753e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.webhookUrl }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        176,
        176
      ],
      "id": "c41f9f3f-2c6a-4d5d-8cbf-ae13e584ee5c",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "45c4f162-8002-4bc2-ad1d-72445289e9f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "768a1525221b8a8fea05690f3de600d940218340d770d31aaec6a5389ba0d6a8"
  },
  "id": "ATadWZIPqGBNzd7e",
  "tags": []
}